<app-navbar></app-navbar>

<div class="isolate bg-fixed bg-cover bg-bottom relative" style="background-image: url(../../../../assets/images/hero.jpg);">
    <div class="absolute inset-0 bg-black bg-opacity-75 filter blur-lg"></div>
    <main>
      <div class="relative px-6 lg:px-8">
        <div class="mx-auto max-w-4xl py-32 sm:py-48 lg:py-56">
          
          <div class="text-center">
            <h2 class="md:text-3xl tracking-tight text-zinc-300  my-4" style="font-family: Climate Crisis ;">when it comes to business</h2>
            <h1 class="text-7xl md:text-8xl my-4 text-[#379237]" style="font-family: Progress;">SAY OUR NAME</h1>
            <h2 class="font-bold md:text-4xl tracking-tight text-zinc-300 my-6" style="font-family: Russo One;">We are <span class="underline" style="font-family: Russo One;">goddamn</span> right</h2>            
            <div class="mt-10 flex items-center justify-center gap-x-6">
              <a href="#" class="rounded-md bg-red-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600 hover:no-underline hover:text-white hover:font-bold">Enter our territory</a>
            
            </div>
          </div>
        </div>
        
      </div>
    </main>
  </div>
  
<div class="h-[160vh] md:h-[70vh] pt-16 bg-fixed bg-center bg-cover" style="background-image: url(../../../../assets/images/bg2.jpg);">
    <h1 class="text-zinc-200 text-6xl text-center" style="font-family: Progress;">OUR AREAS OF EXPERTISE</h1>
    <div class="bg-transparent">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
          <div class="mx-auto max-w-2xl py-8 sm:py-12 lg:max-w-none lg:py-12">
            
      
            <div class="mt-6 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-6 lg:space-y-0">
              <div class="group relative">
                <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1">
                  <img src="../../../../assets/images/ai.jpg" class="h-full w-full object-cover object-center">
                </div>
                <h3 class="mt-6 text-sm text-zinc-300 font-bold">
                  <a href="#" class="hover:text-blue-500 hover:no-underline transition-colors ease-in-out duration-500">
                    <span class="absolute inset-0"></span>
                    AI-based business analytics
                  </a>
                </h3>
                <p class="text-base text-zinc-200 ">For razorsharp accuracy</p>
              </div>

              <div class="group relative">
                <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1">
                  <img src="../../../../assets/images/crypto.jpg" class="h-full w-full object-cover object-center">
                </div>
                <h3 class="mt-6 text-sm text-zinc-300 font-bold">
                  <a href="#" class="hover:text-blue-500 hover:no-underline transition-colors ease-in-out duration-500">
                    <span class="absolute inset-0"></span>
                    Stock market and crypto predictions
                  </a>
                </h3>
                <p class="text-base text-zinc-200 ">Gain an edge over your competetion</p>
              </div>

              <div class="group relative">
                <div class="relative h-80 w-full overflow-hidden rounded-lg bg-white group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1">
                  <img src="../../../../assets/images/fin.jpg" class="h-full w-full object-cover object-center">
                </div>
                <h3 class="mt-6 text-sm text-zinc-300 font-bold">
                  <a href="#" class="hover:text-blue-500 hover:no-underline transition-colors ease-in-out duration-500">
                    <span class="absolute inset-0"></span>
                    Personalized Business solutions
                  </a>
                </h3>
                <p class="text-base text-zinc-200 ">For a steadfast growth</p>
              </div>
      
              
      
              
            </div>
          </div>
        </div>
      </div>
</div>
<div class="relative overflow-hidden bg-fixed bg-cover bg-top" style="background-image: url(../../../../assets/images/fht1.jpg);">
    <div class="pt-16 pb-80 sm:pt-24 sm:pb-40 lg:pt-40 lg:pb-48 z-10">
      <div class="relative mx-auto max-w-7xl px-4 sm:static sm:px-6 lg:px-8">
        <div class="sm:max-w-lg">
          <h1 class="font text-2xl font-bold tracking-tight text-zinc-200 sm:text-3xl">Predict the future with our<br><span class="text-sky-600 text-6xl" style="font-family: Progress;">NOSTRADAMUS</span> </h1>
          <p class="mt-4 text-xl text-gray-500">Our new application to predict future sales based on your input, using cutting-edge Machine Learning techniques.</p>
        </div>
        <div>
          <div class="mt-10">
            <div aria-hidden="true" class="pointer-events-none lg:absolute lg:inset-y-0 lg:mx-auto lg:w-full lg:max-w-7xl">
              <div class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
                <img src="../../../../assets/images/ts_sales.png" alt="">

              </div>
            </div>
  
            <a routerLink="['/predict']" class="inline-block rounded-md border border-transparent bg-red-600 py-3 px-8 text-center font-medium text-white hover:no-underline hover:text-white hover:bg-sky-700">Predict Now</a>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="w-full min-h-[40vh] flex items-start justify-end bg-fixed bg-center bg-cover" style="background-image: url(../../../../assets/images/bg3.jpg);">
    <div class="container flex lg:flex-row flex-col lg:space-x-24">
        <div class="relative">
            <div class="w-full flex justify-center">
                <svg width="510" height="458" viewBox="0 0 410 458" fill="none" xmlns="http://www.w3.org/2000/svg">
                    
                </svg>    
            </div>
            <div class="absolute left-0 right-0 top-0 bottom-0 flex h-full w-full flex-col items-center justify-center space-y-8">
                <div class="relative bg-white rounded-xl px-6 py-6 w-27rem ml-24 shadow-sm">
                    <div class="flex flex-row space-x-4">
                        <img class="w-16 h-16 rounded-full " src="../../../../assets/images/user.png" />
                        <div class="flex flex-col">
                            <h1 class="text-lg font-bold italic">Walter White</h1>
                            <p >Lorem ipsum dolor sit amet, consectetur ncinim quis nostrud.</p>
                        </div>
                    </div>
                   <div class="absolute top-4 right-4">
                    <svg width="32" height="22" viewBox="0 0 32 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.42014 7.92904C5.68831 6.59844 4.35772 5.16806 2.09571 3.8042C1.46368 3.43829 1.0645 2.77299 1.0645 2.07443C1.0645 0.644042 2.52815 -0.353902 3.85875 0.244864C7.71746 1.94137 14.1376 6.166 14.1376 14.9146C14.1376 18.8399 10.9774 22.0001 7.05217 22.0001C3.12692 22.0001 2.76566e-05 18.8399 2.76566e-05 14.9479C2.76566e-05 11.2555 2.82754 8.26168 6.42014 7.92904Z" fill="#EEEEEE"/>
                        <path d="M23.9174 7.92904C23.1856 6.59844 21.855 5.16806 19.593 3.8042C18.9609 3.43829 18.5618 2.77299 18.5618 2.07443C18.5618 0.644042 20.0254 -0.353902 21.356 0.244864C25.1815 1.94137 31.6016 6.166 31.6016 14.9146C31.6016 18.8399 28.4414 22.0001 24.5494 22.0001C20.6574 22.0001 17.464 18.8399 17.464 14.9146C17.464 11.2555 20.2915 8.26168 23.9174 7.92904Z" fill="#EEEEEE"/>
                    </svg>
                   </div>
                        
                </div>

                <div class="relative bg-white rounded-xl px-6 py-6 w-27rem mr-24 shadow-sm">
                    <div class="flex flex-row space-x-4">
                        <div class="flex flex-col">
                            <h1 class="text-lg font-bold italic">Jesse Pinkman</h1>
                            <p >Lorem ipsum dolor sit amet, consectetur ncinim quis nostrud.</p>
                        </div>
                        <img class="w-16 h-16 rounded-full " src="../../../../assets/images/user2.PNG" />  
                    </div>
                        
                </div>

            </div>
        </div>
        
        <div class="flex flex-col text-left py-12 px-6">
            <h1 class="text-left uppercase tracking-widest text-zinc-400">testimonials</h1>
            <p class="mt-8 text-5xl text-zinc-200" style="font-family: Progress;">OVER IOO CORPORATE CLIENTS GLOBALLY</p>
            <p class="mt-8 text-lg text-zinc-300">World's leading corporate giants trust us for their business analytics.</p>
            <div class="mt-8 flex">
                <a class="bg-sky-500 px-10 py-4 rounded-lg shadow-xl text-white">
                    Explore now
                </a>
            </div>
        </div>
    </div>
</div>

<div class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32">
    <img src="../../../../assets/images/ai1.jpeg" alt="" class="absolute inset-0 -z-20 h-full w-full object-cover object-bottom md:object-center">
    <div class="absolute inset-0 bg-black bg-opacity-75 filter blur-lg -z-10"></div>
    <div class="mx-auto max-w-7xl px-6 lg:px-8 z-10">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2 class="text-4xl tracking-tight text-white sm:text-6xl" style="font-family: Progress;">About us</h2>
        <p class="mt-6 text-lg leading-8 text-gray-300">We are a team dedicated to provide cutting edge business analytics based on the market trands and also using advanced technlogies, to take out clients to the next level in their business ventures.</p>
      </div>
      <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">
        <div class="grid grid-cols-1 gap-y-6 gap-x-8 text-base font-semibold leading-7 text-white sm:grid-cols-2 md:flex lg:gap-x-10">
          <a href="#" class="hover:no-underline hover:text-sky-500">Work with us<span aria-hidden="true">&rarr;</span></a>
  
          <a href="#" class="hover:no-underline hover:text-sky-500">Our Clients<span aria-hidden="true">&rarr;</span></a>
  
          <a href="#" class="hover:no-underline hover:text-sky-500">Our values <span aria-hidden="true">&rarr;</span></a>
  
          <a href="#" class="hover:no-underline hover:text-sky-500">Meet our leadership <span aria-hidden="true">&rarr;</span></a>
        </div>
        <dl class="mt-16 grid grid-cols-1 gap-8 sm:mt-20 sm:grid-cols-2 lg:grid-cols-4">
          <div class="flex flex-col-reverse">
            <dt class="text-base leading-7 text-gray-300">Offices worldwide</dt>
            <dd class="text-2xl font-bold leading-9 tracking-tight text-white">12</dd>
          </div>
  
          <div class="flex flex-col-reverse">
            <dt class="text-base leading-7 text-gray-300">Full-time employees</dt>
            <dd class="text-2xl font-bold leading-9 tracking-tight text-white">300+</dd>
          </div>
  
          <div class="flex flex-col-reverse">
            <dt class="text-base leading-7 text-gray-300">Clients</dt>
            <dd class="text-2xl font-bold leading-9 tracking-tight text-white">100+</dd>
          </div>
  
          <div class="flex flex-col-reverse">
            <dt class="text-base leading-7 text-gray-300">Years of experties</dt>
            <dd class="text-2xl font-bold leading-9 tracking-tight text-white">10+</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
  
  <footer class="text-gray-100 bg-black relative mt-0">
    <div class="max-w-3xl mx-auto py-6">
        <h1 class="text-center text-lg lg:text-2xl">
            Subscribe to our newsletter and never miss an update.
        </h1>

        <div class="flex justify-center mt-6">
            <div class="bg-white rounded-md">
                <div class="flex flex-wrap justify-between md:flex-row">
                    <input type="email" class="m-1 p-2 appearance-none text-gray-700 text-sm focus:outline-none focus:placeholder-transparent" placeholder="Enter your email" aria-label="Enter your email">
                    <button class="w-full m-1 p-2 text-sm bg-sky-800 rounded font-semibold uppercase lg:w-auto hover:bg-gray-700">subscribe</button>
                </div>
            </div>
        </div>

        <hr class="h-px mt-6 bg-gray-700 border-none">

        <div class="flex flex-col items-center justify-between mt-6 md:flex-row">
            <div>
                <a href="#" class="text-xl font-bold text-gray-100 hover:text-gray-400">Heisenberg Analytics</a>
            </div>

            <div class="flex mt-4 md:m-0">
                <div class="-mx-4">
                    <a href="#" class="px-4 text-sm text-gray-100 font-medium hover:text-gray-400">About</a>
                    <a href="#" class="px-4 text-sm text-gray-100 font-medium hover:text-gray-400">Support</a>
                    <a href="#" class="px-4 text-sm text-gray-100 font-medium hover:text-gray-400">Contact</a>
                </div>
            </div>
        </div>
    </div>
</footer>